// ============= Layout ============= //
$tablet: 768px;
$desktop: 1024px;

// ============= Colors ============= //
$dark-background-gradient: linear-gradient(180deg,#121212 0,#232425);
$yellow: #ffcd00;
$medium-grey: rgba(68,69,70,.45);
$light-grey: #e7e9ec;

// ============= Mixins ============= //
@mixin rem($property, $values) {
  $px: ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else {
      $unit: unit($value);
      $val: parse-int($value);

      @if $unit == 'px' {
        $px: append($px, $value);
        $rem: append($rem, ($val / 16 + rem));
      }

      @if $unit == 'rem' {
        $px: append($px, ($val * 16 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}
